**.opensdf
**.sdf
**.aps
**.vcxproj.user
**.suo
**.VC.db
**.VC.opendb
**/*Release/*
**/*Debug/*
**/ipch/*
**/SimpleSwitcher/zip/*
**/.vs
**/packages/*
**/logs/*
**/Assets/Standard Assets/*
**/Assets/AllStarCharacterLibray/*
**/Assets/AllStarCharacterLibrary/*
**/Assets/Movinarc/*
**/Assets/RainEntertainment/*
**/Assets/Standard Assets/*
**/Assets/Standard Assets/*
**/Assets/Standard Assets/*
**/Assets/SampleScenes/* 
**/Library/*
**/Temp/*
**.meta